.contenedor-precios{
    padding-top: 20px;
}

.contenedor-buscador{
    margin: 10px !important;
}

.buscador{
    width: 50%;
    padding: 20px !important;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #FFEFFF;
    color: #D34EA0 !important;
}

.buscador::placeholder{
    color: #D34EA0;
}

.centrar{
    display: flex;
    justify-content: center;
}

.contenedor-tabla{
    padding:20px !important;
}

.head-tabla{
    text-align: center;
    background-color: #F8A7FF !important;
    font-size: 30px;
    color: white !important;
    border: 1px #D34EA0 solid;
}

td{
    text-align: center;
    border: 1px black solid;
    font-size: 20px;
}

.accion-boton-edit, .accion-boton-delete{
    border: none;
    background-color: transparent;
    transition: all .5s ease;
    width: 50%;
}

.accion-boton-edit:hover, .accion-boton-delete:hover{
    background-color: #D34EA0;
    color: white;
}

.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select{
    border: 1px white solid;
    background-color: #D34EA0;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}
.rotar-icono{
    transform: rotate(180deg);
}

.select:hover{
    background-color: #b8448b;
    box-shadow: 0 0 10px 5px white;
}

.menu{
    border: 1px white solid;
    width: 50%;
    background-color: #D34EA0;
    padding: 0;
    list-style: none;
    border-radius: 10px;
    color: white;
    position: absolute;
    margin-top: 240px;
}

.menu li{
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.menu li:hover{
    background-color: #b6438a;
    cursor: pointer;
}

.active{
    background-color: #b6438a;
    border: 1px white solid;
}

