.contenedor-precios{
    padding-top: 20px;
}

.contenedor-buscador{
    margin: 10px !important;
    text-align: center;
}

.buscador{
    width: 50%;
    padding: 20px !important;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #FFEFFF;
    color: #D34EA0 !important;
}

.buscador::placeholder{
    color: #D34EA0;
}

.centrar{
    display: flex;
    justify-content: center;
}

.contenedor-tabla{
    padding:20px !important;
    margin-top: 50px;
}

.head-tabla{
    text-align: center;
    background-color: #F8A7FF !important;
    font-size: 30px;
    color: white !important;
    border: 1px #D34EA0 solid;
}

td{
    text-align: center;
    border: 1px black solid;
    font-size: 20px;
}

.accion-boton-edit, .accion-boton-delete{
    border: none;
    background-color: transparent;
    transition: all .5s ease;
    width: 50%;
}

.accion-boton-edit:hover, .accion-boton-delete:hover{
    background-color: #D34EA0;
    color: white;
}

.contenedor-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

.select{
    border: 1px white solid;
    background-color: #D34EA0;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    cursor: pointer;
    z-index: 1;
}
.rotar-icono-arriba{
    animation: girarIconoArriba .5s ease;
    transform: rotate(180deg);
}

.rotar-icono-abajo{
    animation: girarIconoAbajo .5s ease;
    transform: rotate(0deg);
}

@keyframes girarIconoArriba{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

@keyframes girarIconoAbajo{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.select:hover{
    background-color: #b8448b;
}

.menu{
    animation: all .5 ease-in;
    border: 1px white solid;
    width: 30%;
    background-color: #D34EA0;
    padding: 0;
    list-style: none;
    border-radius: 10px;
    color: white;
    overflow: auto;
}

.menu li{
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.menu li:hover{
    background-color: #b6438a;
    cursor: pointer;
}

.active{
    background-color: #b6438a;
    border: 1px white solid;
}

.mostrar-opciones{
    display: block;
    animation: mostrar .5s ease-in;
    
}

@keyframes mostrar {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

.esconder-opciones-animacion{
    animation: esconder .5s ease-out;
}

.esconder-opciones{
    display: none;
}

@keyframes esconder {
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}

.buscar-precio{
    text-align: center;
    width: 50%;
    height: 50px;
    background-color: #F8A7FF;
    color:white;
    border: none;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius:  10px;
}