.contenedor-agregar-producto{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.titulo-input-post{
    color: white;
    font-weight: bold;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(107, 107, 107);
    letter-spacing: -1px;
}

.input-post{
    font-family: "Jomhuria", serif;
    font-size: 40px;
    width: 100%;
    padding:0 10px;
    border-radius: 10px;
    border: none;
    background-color: #FFEFFF;
    color: #D34EA0;
}

.input-post::placeholder{
    font-family: "Jomhuria", serif;
    font-size: 40px;
    color: #d34ea098;
}

.contenedor-imagen-post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-seleccionar-imagen{
    background-color: #FF88E1;
    border-radius: 20px;
}

.contenedor-botones-imagen-post{
    display: flex;
    justify-content: space-evenly;
}

.boton-imagen-post{
    border: none;
    background-color: #FF88E1;
    padding: .5rem 2rem;
    padding-bottom: .25rem;
    border-radius: 20px;
    font-family: "Jomhuria", serif;
    font-size: 35px;
    color: #D34EA0;
}

.contenedor-boton-registrar-producto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.boton-registrar-producto{
    border: none;
    background-color: #FF88E1;
    padding: .5rem 2rem;
    padding-bottom: .25rem;
    border-radius: 20px;
    font-family: "Jomhuria", serif;
    font-size: 35px;
    color: #D34EA0;
}

.scroll-inputs{
    overflow: auto;
    height: 45rem;
    padding: 0 1rem;
    background-color: #e053aa41;
    padding: 2rem;
    border-radius: 2rem;
}

.scroll-inputs::-webkit-scrollbar{
    width: 1rem;
}

.scroll-inputs::-webkit-scrollbar-thumb{
    background-color: #D34EA0;
    border-radius: 1rem;
}